.FifthService_page{
    position: relative;
    width: 100%;
    .FifthService_page_BG{
        img{
            width: 100%;
            height: 150vw;
            position: absolute;
        }
    }
    .FifthService_mid_sec{
        padding-top: 70vw;
        position: absolute;
        display: flex; justify-content: space-between; align-items: center;
        width: 100%;       
        .FifthService_mid_sec_left{
            width: 38%;
            margin: -10vw 0vw 0vw 4vw;
            .FifthService_title{
                width: 90%;
                color: #000;
                // font-family: Montserrat;
                font-size: 3.4vw;
                font-style: italic;
                font-weight: 900;
                line-height: 3.3vw;
                margin-bottom: 1vw;
            }
            .FifthService_desc{
                width: 100%;
                color: #818C96;
                // font-family: Roboto;
                font-size: 1.4vw;
                font-weight: 600;
                line-height: 2.5vw;
            }
            .Shit_div{
                display:flex;
                margin-top:2vw ;
                transform: translateX(2vw);
                width: 30%;
                &:hover{
               .FifthService_button_hover{
                    transform: translateX(10vw) !important;
                    transition: 0.4s ease-in-out !important; 
                          }
                      }
            .FifthService_button{
                width: 120%;
                height: 4.5vw;
                border-radius: 2.1vw;
                background: #AFEF2C;
                color: #1E1E1E;
                // font-family: Montserrat;
                font-size: 2.1vw;
                font-style: italic;
                font-weight: 800;
                border: none;
                z-index: 9999;
             } 
             .FifthService_button_hover{
                height: 2.5vw;    
                width: 2.5vw;
                margin-left: -8vw; margin-top: .3vw;
                padding: .8vw;
                color: #fff;
                border-radius: 50%;
                background: #000;
                display: flex; justify-content: center; align-items: center;
                font-size: 2vw;
            }
            }
        }
        .FifthService_mid_sec_right{
            margin-bottom: 12vw ;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-right: 2.5vw;
            z-index: 9999;
            &:hover{
                .scale_span{
                    transform: scale(0.7);
                    transition: 1.2s ease-in;
                    margin-left: -2vw;
                    margin-bottom: -10vw;

                }     
                .FifthService_square2{
                    margin-left: 26vw;
                    margin-bottom: .01vw;
                    transition: 1.5s ease-in ;
                    transform: scale(1.3) !important;
                    background: #000;
                    // margin-left: -2vw;
                    margin-bottom: .5vw;
                    .square_title{
                        color: #fff;
                    }
                    .square_desc{
                        color: #868585;
                    }
                    .square_last_sec{
                        .square_more{
                            color: #9FED61;
                        }
                        .square_icon{
                            color: #9FED61;
                        }
                    }
                }
            }
            .FifthServiceSquare_first{
                margin-bottom: 2vw;
            }
            .FifthServiceSquare_second{
                display: flex; 
            }
            .FifthService_square1{
                margin-bottom: 2vw;
            }
            .FifthService_square2{
                margin-left: 25.5vw;
                // margin-right: 1vw;
                margin-bottom: -2vw;
                // margin: 0vw 25.5vw -2vw 25.5vw ;
            }
            .FifthService_square4{
                margin-left: 2.3vw;
            }
            .scale_span{
                margin-top: -20vw;
                margin-left: 1vw;

            }
            .FifthService_square,.FifthService_square2,.FifthService_square1,.FifthService_square4{
                display: flex; justify-content: center; flex-direction: column;
                border-radius: 1vw;
                background: #D7D7D7;
                height: 20vw;
                width: 20vw;
                padding-left: 2vw;
                .square_title{
                    color: #161618;
                    // font-family: Inter;
                    font-size: 1.3vw;
                    font-weight: 600;
                    line-height: 2vw;
                    width: 19vw;
                }
                .square_desc{
                    color: #1E1E1E;
                    // font-family: Roboto;
                    font-size: .9vw;
                    font-weight: 400;
                    line-height: 1.3vw;
                    letter-spacing: -.05vw;
                    width: 18vw;
                    margin-top: .4vw;
                }
                .square_last_sec{
                    display: flex; 
                    margin: 3vw 10vw 0vw 0vw;
                    width: 17vw;
                .square_more{
                    color: #161618;
                    // font-family: Roboto;
                    font-size: .9vw;
                    font-weight: 600;
                    letter-spacing: -.05vw;
                } 
                .square_icon{
                    color: #161618;
                    width: 1vw;
                    font-size: 1.4vw;
                    margin-left: .7vw;
                    }  
                }  
            }
        }
    }
    .FifthService_icons{
        position: absolute;
        display: flex; justify-content: space-evenly;
        color: #fff;
        width: 40vw;
        margin:70vw 0vw 0vw 58vw;
        height: 6vw;    
        padding-top: 60vw;
        .single_icon{
            background: #000000;
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            display: flex; justify-content: center; align-items: center;
        }
            svg{
                color: rgb(255, 255, 255);
                font-size:3.5vw;
        }
    }
    .Footer{
        position: absolute;
        margin-top: 137vw;
    }
}