.Transion_page3 {
    background: #E59926;

    .Hajate_Orange{
        opacity: 1 !important;
    }
    .Path_1{
        fill: #FFD439 !important;
    }
    .Normal_Hajat{
        opacity: 0;
    }
    .FirstService_Images {
        background: #E59926;


    }
    .Wing_Orange{
            opacity: 1 !important;
    }
    .Wing{
opacity:  0 !important;
    }
.Element3{
display: none;
}
.Polygon_Right{
    transform: translateX(-100vw);
}
.Orange_Girl{
    opacity: 1;
    }
    .Normal_Girl{
    opacity: 0;
    }
    .remove-in-page-three{
        display: none;
    }
}


.ThirdService_page{
    max-width: 100vw;
    position: relative;
    transition: .4s ease-in-out;
display: none;    
    
position: absolute;
top: 0;
}

.ThirdService_Images{
    width: 100%; 
    display: flow-root;
 

}
.ThirdService_Body{
    position: absolute;
    z-index: 99999999;
    top: -5.5vw;
    width: 100%;
    display: flex;
    .Services2_Elements{
        display: flex; justify-content: space-between; align-items: center;
        width: 100%; padding-inline: 1%;
    }
}
