.Transion_page3 {
    background: #E59926;

    .Hajate_Orange{
        opacity: 1 !important;
    }
    .Path_1{
        fill: #FFD439 !important;
    }
    .Normal_Hajat{
        opacity: 0;
    }
    .FirstService_Images {
        background: #E59926;


    }
    .Wing_Orange{
            opacity: 1 !important;
    }
    .Wing{
opacity:  0 !important;
    }
}
