.AboutUs_page{
    min-height: 120vw;
    position: relative;
    
    max-width: 100vw;
    background:#bac3c7 !important;
    .NavBar{
        position: absolute;
        margin-top: 0px;
        height: 2vw;
        background: #bac3c7;
    }
    @include devices(mobile){
        .NavBar{
            height:4.5vw;
            
        }
    }
    .Links{
        a{
            color: #000000 !important;
        }
        a:nth-child(4){
            color: #C7F36C !important;
        }
    }
    .Logo svg path{
        fill: #000000;
    }
    .AboutUs_BG{
        z-index: 999;
        img{    
            max-width: 100vw;
            width: 100%;
        }
     }
     .AboutUs_mid_section{
        height: 100vh;
        z-index: 99;
        position: absolute;
        top: 0;
        .AboutUs_p{
            padding-top: 50vw;
            max-width: 75vw;
            position: relative;
            left: 11vw;
           word-break: normal;
            color: #000000;
            text-align: center;
            font-family: Montserrat;
            font-size: 1.6vw;
            font-weight: 545;
            line-height:1.4;
        }
    }

   
    .AboutUs_icons{
        margin-bottom: 15vw;
        .single_icon{
            background: #000000;
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1.5vw;
        }
            display: flex;
            color: #fff;
            width: 40vw;
            height: 6vw;    
            padding-top:max(4vw ,3vh);
            margin-left: 29vw;

            svg{
                color: rgb(255, 255, 255);
                font-size:3.5vw;
        }
    } 
    .AboutUs_info{
        color: #666;
        text-align: center;
        font-family: Inter;
        font-size: 2vw;
        font-style: normal;
        font-weight: 200;
        line-height: 3vw;
        margin: 7vw;
        margin-top: 10vw;
        h1{
            font-size: 1.5vw;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1vw;
            margin-bottom: .5vw;
        }
        h6{
            font-size: 1.3vw;
            line-height: 2vw;
            font-weight: 400;
        }
    }
    
}



@include  devices(S_mobile){
 
    .AboutUs_info{
        line-height: 2.5  !important;
        h1{
            font-size: 2vw !important;
            

        }
        h6{
            font-size: 1.8vw !important;
            line-height: 3 !important;
            margin-bottom: 20vw;
        }
        // background: black;
        // padding-bottom: 20vw;
        // display: none;
    }
    .AboutUs_page{
        height: max(100vh , 140vw) !important;
        .Footer{
            margin-top: 20vw;
        }
    }

}
//MeatUS/BG/Womans_Gray.Webp