
.work_page{

    // height: 300vh;
    // background: #28AAA2;
    max-width: 100vw;
    position: relative;
    .Links{
        a:nth-child(3){
            color: #C7F36C !important;
        }
    }
    .works_img{
        max-width: 100vw;
        position: absolute;
        width: 100%;
    }
    .text_works{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // z-index: 999999;
        // height: 70vw;  
        position: absolute;
        width: 100%;
        margin-left: 15.5vw;
    }
    .text_first{
      color: #fff;
      font-size: 1.7vw;
      font-weight: 370;
      padding-top: 32vw;
      text-transform: uppercase;
      letter-spacing: .7vw;
      margin-bottom: 1.2vw;

    }
    .text_second{
        color: #3B3D3E;
        text-align: center;
        // font-family: Roboto; 
        font-weight: 700;
        font-size: 2.3vw;
    }
    .text_third{
        color: #FFF;
        text-align: center;
        // font-family: Inter;
        font-size: 1.3vw ;
        font-weight: 300;
        line-height:1.8vw ;
        margin-left:7vw ; 
    }
    .works_img{
        // size: 10px;
        // min-width: 10px;
        // font-size: 1px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 100%;
        // background: #000;
        // padding-top: 70vw;

        // position: absolute;
        width: 100%;
        // padding-top: 100vw;
        .img_first{
            // margin-inline: 1vw !important;
            display: flex;
            justify-content: center;
            width: 100% !important;
            padding-top: 50vw;
            margin-left: 13vw;
            .img1{
                margin-left: 10vw;
                // width: 10px;
                // font-size: 10px;
        }
            .img4{
                margin-left: 2vw;
            }
        }
        .img_second{
            display: flex;
            justify-content: center;
            padding-top: 2vw;

            // align-items: center;
            // width: 20%px !important;
            // padding-top: 70vw !important;
            .img3{
                margin-left: 10vw;

            }
            .img2{
                    margin-left: 28vw;
            }
        }

        }

    
    .Footer{
        position: absolute;
        margin-top: 108vw;
    }
    .WorksImg1{
        position: absolute;
    }
    .WorksImg3{
        position: absolute;
    }
     .WorksImg4{
        position: absolute;
    }
}
