
.work_page{
    min-height: max(120vw, 0);
    position: relative;
    
    max-width: 100%;
    background: #27aaa3 ;
    .Links{
        a:nth-child(3){
            color: #FFD339 !important;
        }
    }
    .works_img{
        position: absolute;
        max-width: 100vw;
        width: 100%;
    }
    .text_works{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;  
        // width: 100vw;
        margin-left: 35vw;
        overflow: hidden;
    }
    .text_first{
      color: #fff;
      font-size: 1.7vw;
      font-weight: 370;
      padding-top: 32vw;
      text-transform: uppercase;
      letter-spacing: .7vw;
      margin-bottom: 1.2vw;
    }
    .text_second{
        color: #3B3D3E;
        text-align: center;
        // font-family: Roboto; 
        font-weight: 700;
        font-size: 2.3vw;
    }
    .text_third{
        color: #FFF;
        text-align: center;
        // font-family: Inter;
        font-size: 1.3vw ;
        font-weight: 300;
        line-height:1.8vw ;
        margin-left:7vw ; 
    }
    .works_img{
        width: 100%; 
        // margin-left: 2vw;
        img{
                    width: 23vw;
                    margin-left: 1.5vw;
                }
        .img_first{
            display: flex;
            justify-content: center;
            max-width:100vw ;
            padding-top: 53vw;
            margin-left: 16vw;
            .img1{          
                margin-left: 15vw;
        }
            .img4{
                // margin-left: 2vw;
            }
        }
        .img_second{
            display: flex;
            justify-content: center;
            padding-top: 1vw;
            margin-left: 8vw;
            .img3{
            }
            .img2{
                    // margin-left: 2vw;

            }
            .img5{
                // margin-left: 2vw;
            }
          }
        }
    .Footer{
        position: relative;
        transform: translateY(10vw);
        // padding-top: 100vw;
        // margin-top: 100vw;
        transition: 0s;
    }
  

@include devices (Minlaptop){
    height: 100vh !important;
    // min-height: 140vh !important;
    .text_works{
        padding-top: 6vw;
        .text_first{
            font-size: 3vw;
        }
        .text_second{
            font-size: 2.5vw;
            line-height: 4vw;
        }
        .text_third{
            line-height: 2.5vw;
        }
    }
    .works_img{
        padding-top: 11vw;
    }
    .Footer{
        // margin-top: 10vw;
        position: relative;
        transform: translateY(23vw);
        padding-top: 5vw;
    }

}
@include devices(tablet){
    height: 110vh !important;
    max-height: 120vh !important;
    .text_works{
        padding-top: 6vw;
        .text_first{
            font-size: 3vw;
        }
        .text_second{
            font-size: 2.5vw;
            line-height: 4vw;
        }
        .text_third{
            line-height: 2.5vw;
        }
    }
    .works_img{
        padding-top: 11vw;
    }
    .Footer{
        // margin-top: 10vw;
        position: relative;
        transform: translateY(30vw);
        padding-top: 5vw;
    }


  }

  @include devices(mobile){
    height: 120vh  !important;
    background: #27aaa3;
    .NavBar{
        height: 7vh !important;
    }
     .text_works{
        padding-top: 17vw;
        .text_first{
            font-size: 3vw;
        }
        .text_second{
            font-size: 2.5vw;
            line-height: 5.5vw;
        }
        .text_third{
            line-height: 4vw;
        }
    }
    .works_img{
        padding-top: 30vw;
    }
    .Footer{
        position: relative;
        transform: translateY(65vw);
        padding-top: 7vw ;
        padding-bottom: 7vw ;
    }

  }
  @include devices (S_mobile){
    // min-height: 80vh !important;
    height: 102vh !important;
    // min-height: 120vh  !important;
    // min-height: 10vh !important;
    max-height: 140vh  !important;
    background: #27aaa3;
    .NavBar{
        height: 7vh !important;
        // display: none;
    }
    .text_works{
        padding-top: 27vw !important;
        // margin-bottom: 100vw !important;
        // padding-bottom: 100vw !important;
        .text_first{
            font-size: 3vw;
        }
        .text_second{
            font-size: 2.5vw;
            line-height: 5.5vw;
        }
        .text_third{
            line-height: 4.5vw;
        }
    }
    .works_img{
        padding-top: 42vw;
        
        // padding-bottom: 100vw !important;
        // margin-bottom: 100vw !important;
    }
    .Footer{
        // margin-top: 10vw;
        // position: relative;
        transform: translateY(76vw);
        padding-top: 9vw;
        padding-bottom:11vw ;
    }
  }
}