
.work_page{
    min-height: max(130vw, 100vh);
    position: relative;
    max-width: 100%;
    background: #27aaa3 ;
    .Links{
        a:nth-child(3){
            color: #FFD339 !important;
        }
    }
    .works_img{
        position: absolute;
        max-width: 100vw;
        width: 100%;
    }
    .text_works{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;  
        // width: 100vw;
        margin-left: 35vw;
        overflow: hidden;
    }
    .text_first{
      color: #fff;
      font-size: 1.7vw;
      font-weight: 370;
      padding-top: 32vw;
      text-transform: uppercase;
      letter-spacing: .7vw;
      margin-bottom: 1.2vw;
    }
    .text_second{
        color: #3B3D3E;
        text-align: center;
        // font-family: Roboto; 
        font-weight: 700;
        font-size: 2.3vw;
    }
    .text_third{
        color: #FFF;
        text-align: center;
        // font-family: Inter;
        font-size: 1.3vw ;
        font-weight: 300;
        line-height:1.8vw ;
        margin-left:7vw ; 
    }
    .works_img{
        width: 100%; 
        // margin-left: 2vw;
        img{
                    width: 23vw;
                    margin-left: 1.5vw;
                }
        .img_first{
            display: flex;
            justify-content: center;
            max-width:100vw ;
            padding-top: 53vw;
            margin-left: 16vw;
            .img1{          
                margin-left: 15vw;
        }
            .img4{
                // margin-left: 2vw;
            }
        }
        .img_second{
            display: flex;
            justify-content: center;
            padding-top: 1vw;
            margin-left: 8vw;
         
          }
        }
    .Footer{
        position: absolute;
        bottom: 0;
    }
  
}
.work_page{
    @media screen and (max-width: 370px) {
      .text_works{
        position: absolute;
        top: 80vw;
        margin-left:5vw;
        font-size: 3vw;

      }
      .text_first{
        font-size:4vw;
      }
      .text_second{
        font-size:3vw;
        margin-block: 2vw;
      }
      .text_third{
        font-size:2vw;
        line-height: 3vw;
      }
      }
}