

.category-product-page{
    width: 70vw;
    
    margin: auto;
    .header-category-product-page{
        display: flex;
        justify-content: space-between;
        .left{
        }
        .center{
            display: flex;
            align-items: center;
            width: 60%;
            
        }
    }
   
   .category_product{
    height: 200px;
   }
}
.product_category_row{
    
    width:100% ;
    // display:flex;
    
     padding:10px ;
    //   justify-content:space-around;

      .simple-continer-row{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
      }
     
}