.CopyRight{
    width: 100vw;
    height: 7vh;
    background: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left, .right{
        color: #FFF;
        // font-family: Tajawal;
        font-size: 9px;
        font-weight: 400;
        }
    .right{

    }
}