
.FirstService_page{

    .Links{
        a:nth-child(2){
            color: #C7F36C !important;
        }
    }
    .NavBar{
        background: #BAC3C7;
    }
}

.Home{
    .Links{
        a:nth-child(1){
            color: #C7F36C !important;
        }
    }
}
.ar{
    .In_Link{
        direction: rtl;
    }
}
.NavBar{
    position: absolute;
    width: fill;
    padding: 1vw 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999999;
    font-family: Popping;
    font-display: swap;
        .Links{
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
     .Logo{
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 9vw !important;
        height: 5vw;
        padding-top: 1vw;
        svg{
            width: 9vw !important;
            height: 5vw;
            path{
                fill: white;
            }
        }
     }
     
   
    a{
        color: white;
        font-size: 1.1vw;
        margin-inline: 1.8vw;
        font-weight: 900;

    }
    span{
        background: black;
        color: white;
       padding: .6vw;
       cursor: pointer;
        font-weight: bold;
        font-size: 1.4vw;
        margin-left: 2vw;
        border-radius: .4vw;
        position: relative;
        top: .2vw;
     
}
}
.NavBar6{
    span{
        background: white;
        color: black;
     
     
}
}