.PrintNavBar{
    height: 7vh;
    background: #EDF1F4;
    // margin-bottom: .2em;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.8vw;
    width: 100%;
    .print_links{
        width: 50%;
        display: flex;
        // justify-content: center; 
        align-items: center;
        margin-left: 15vw;
        margin-bottom: .3em;
        div{
            .Link{
                color: #323232;
                // font-family: Tajawal;
                font-size: .7vw;
                font-weight: 800;
                margin-left: 2.5vw;
            }
            @include devices(tablet){
                &{
                    font-size: 2.5vw;
                }
            }
        }
       
        .link_with_arrow{
            display: flex;
            align-items: center;
            &{
                .Link:hover{
                    color: #B0D04F;
                    transform: scale(1.25);
                    font-weight: 700;
                    svg{
                        transform: rotate(360deg) scale(1.1) !important;
                        
                    }
                }
            }
            .Link{
                margin-top: 7px;   
                display: flex;
                align-items: center;
              
            }
            svg{
                // transform: translateY(.7vw);
                color: #000;
                margin-left: .3vw;
                font-size: 1.1vw;
            }
            
        }
    }
    .print_icons{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -4vw;
        .notifictaion_circle{
            width: 1vw;
            height: 1vw;
            border-radius: 50%;
            background: #B0D04F;
            font-size: .6vw;
            padding: .15vw;
            color: #ffffff;
            display: flex;justify-content: center;align-items: center;
            margin: -.8vw -2.1vw 0vw 0vw;
            font-weight: 300;
            z-index: 9999;
        }
        svg{
            margin: 1.1vw 1.2vw 0vw 0vw;
            font-size: 1.5vw;
            z-index: 0;
            }
            @include devices(tablet){
                .svg{
                    font-size: 2.5vw;
                }
            }
    }
}
