.PrintNavBar{
    height: 7vh;
    background: #EDF1F4;
    display: flex;
    overflow: hidden !important;
    max-width: 100vw !important;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(10vh - 3px);
    @include devices(Minlaptop){
        
          margin-top:53px;  
    }
    @include devices(mobile){
        &{
            margin-top: min(13vw , calc(7.8vh - 3px) ) !important;
            height: 5.5vh !important;
        }
    }
    .print_links{
        width: 80%;
        display: flex;
        align-items: center;
        margin-left: 15vw;
        div{
            .Link{
                color: #323232;
                font-family: Poppins;
                font-size: .7em;
                font-weight: 800;
                margin-left: 2.5vw;
            }
            @include devices(tablet){
                &{
                    font-size: 2.5vw;
                }
            }
        }
        .middle{
            display: flex;
        }
        .link_with_arrow{
            display: flex;
            flex-direction: row !important;
            align-items: center;
            justify-content: center;
            &{
                .Link:hover{
                    color: #B0D04F;
                    transform: scale(1.25);
                    font-weight: 700;
                    svg{
                        transform: rotate(360deg) scale(1.1) !important;
                        
                    }
                }
            }
            .Link{
                margin-top: 4px;   
                display: flex;
                align-items: center;
              
            }
            svg{
                color: #000;
                margin-left: .3vw;
                font-size: 1.1em !important;
            }
        }
    }
    .print_icons{
        margin-inline:10px ;
        margin-top: 17px !important;
         @include devices(tablet){
            &{
                margin-top: 12px;
            }
        }
        position: relative;
        
        .notifictaion_circle{
            position: absolute;
            top: -10px;
            right: -6px;
            background: #B0D04F;
            width: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            font-size: .6em;
            border-radius: 50%;
        }
        svg{
            font-size: 1.2em;
        }
        @include devices(tablet){
            &{
                .notifictaion_circle{
                    font-size: .5em;
                }
                svg{
                    font-size: 1em !important;
                }
                .Link{
                    margin-top: 0 !important;
                }
            }
        }   
    
        // end of icon res
    }
}
