
.Home,.Home2,.Home3{
    max-width: 100vw;
    position: relative;
    
}
.Home{
    
    img{
        max-width: 100vw;
        width: 100%;
    }
 
    .NavBar{
        position: absolute;
        width: fill;
        padding: 20px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 100px !important;
        }
        a{
            color: white;
            font-size: 14px;
            margin-inline: 24px;

        }
        span{
            background: black;
            color: white;
            padding: 9px;
            font-weight: bold;
            font-size: 11px;
            margin-left: 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
    }
    .Links{
        a:first-child{
            color: #C7F36C !important;
        }
    }
    
}

.Home2{
 
    .Home2_Text{
       display: flex; flex-direction: column;
        align-items: center;
        padding-top: 70px;
    }
    img{
        max-width: 100vw;
        width: 100%;
        position: absolute;
    }
  
}
.Home2{
    .Home2_Text{
        .Home2_Text_h1{
            text-align: center;
            margin-bottom: 20px;
        }
        h2{
            font-weight: 500;
            font-style: 2vw;
            color: #777777;
            text-transform: uppercase;
           letter-spacing: 10px;
           margin-bottom: 50px;
        }
        h1{
            font-size: 2.4vw;
            font-weight: bold;
            white-space: nowrap;
        }
        p{
            width: 50%;
            text-align: center;
            font-weight: 500;
            font-size: 1.1vw;
            color: #777777;
            line-height: 25px;
            margin-bottom: 20px;
        }
    }
}

.Home2{
    .btn {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
      
      .btn {
        width: 16vw;
        height: 66px;
        border-radius: 50px;
        background:#3FB4C3;
        letter-spacing: 3px;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 1.4vw;
        color: white;
        font-weight: bold;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        text-transform: uppercase;
}
      
      .btn:hover {
        transform: translateY(3px);
        box-shadow: none;
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
}
      
      .btn:active {
        opacity: 0.5;
   
        
}
}
.Home2{
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
}
.Home2_Text{
    margin-bottom: 320px;
}