.Home2{
    
.Services_Social{
    position: absolute;
    left: 35vw;
    max-width: 100%;
    transform: translateY(72vw);
    -webkit-transform: translateY(72vw);
    -moz-transform: translateY(72vw);
    -ms-transform: translateY(72vw);
    -o-transform: translateY(72vw);
    display: flex;
    .Services_MIcon
{
    padding: .4vw;
    background-color: #C7F36C;
    color: white;
    border: .5vw solid black;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    rotate: 130px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    display: flex; justify-content: center; align-items: center;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    &:hover{
        background-color: black;
        color: #C7F36C;
        border: .5vw solid black;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        svg{
            transform: rotate(-0deg) !important;
            -webkit-transform: rotate(-0deg) !important;
            -moz-transform: rotate(-0deg) !important;
            -ms-transform: rotate(-0deg) !important;
            -o-transform: rotate(-0deg) !important;
            transition: .4s ease-in-out;
            -webkit-transition: .4s ease-in-out;
            -moz-transition: .4s ease-in-out;
            -ms-transition: .4s ease-in-out;
            -o-transition: .4s ease-in-out;
}
}
}
svg{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    font-size: 3vw;
    background: black;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  
}


}
}
.MIcon2,.MIcon4,.MIcon6{
    .Services_MIcon{
        &:hover{
            background-color: black;
            color: black;
            border: .5vw solid black;
        
        }
    }

    svg{
        background: #C7F36C !important;
      
        &:hover{
            background: black !important;
            color: #C7F36C;
        
        }
    }
}