
.FirstService_page{
    background: #BAC3C7;
    position: relative;
    .Links{
        a:nth-child(2){
            color: #C7F36C !important;
        }
    }
    .FirstServiceBG{
        position: absolute;
        padding-right: 50vw !important;
        width: 100%;
        height: 100vw;
        max-width: 100%;
    }
    .NavBar{
        background: #BAC3C7;
    }
}