
.FirstService_page{
    max-width: 100vw;
    position: relative;
    background: #BAC3C7;
}
.FirstService_page{

    .Links{
        a:nth-child(2){
            color: #C7F36C !important;
        }
    }
    .NavBar{
        background: #BAC3C7;
    }
}
.FirstService_Body{
    position: absolute;
    top: 0;
    padding-top: 42vw;
    width: 100%;
    .Services1_Elements{
        display: flex; justify-content: space-between; align-items: center;
        .Element1{
            padding-left: 5vw;
        }
    }
    .Element2{
        padding-right: 2vw;
    }

    img{
        width: 23vw;
        cursor: pointer;
    }
}
.FirstService_Images{
    position: relative;
    background: #BAC3C7;
    width: 100%;

        min-height: 150vw;

   img{
    display: block;
   }
   .Hajeat_Moaz{
    padding-top: 4vw;
    transform: translateX(-3vw);
    width: 60vw;
   }
   .Haje{
    float: right;
   width: 40vw;
   transform: translateY(-17vw);
   
   }
}

.Services_Pages{
    position: relative;
          background: #BAC3C7;
          min-height: 100vh;
}
.Group_Logo { 
    transform: translate(581.914px, -1147.587px) 
                translate(12vw, .4vw);
  }
  
.Wing{
    transform: translate(487px, -1308px) 
    translate(120vw, 0vw);

}