
.FirstService_page{
    background: #BAC3C7;
    position: relative;
    .Links{
        a:nth-child(2){
            color: #C7F36C !important;
        }
    }
    .FirstServiceBG{
        position: absolute;
        // width: 10vw;
        // height: 100vw;
        padding-right: 50vw !important;
    }
    .NavBar{
        background: #BAC3C7;
    }
}