body {
    background-color: var(--bg);
    overflow-x: hidden;
    // transition: .3s ease-in-out;
    
}
*{
    padding: 0; margin: 0; 
}
a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}
button,svg{
    cursor: pointer;
}
.MeetUs_BG{
    position: absolute;
}
.gradient_1{
    position: absolute;
    bottom: 0;
}
@mixin devices ($breakpoint) {
    @if $breakpoint == Laptop {
      @media only screen and (max-width: 1440px) {
        @content;
      }
    }
    
    @if $breakpoint == Minlaptop {
      @media only screen and (max-width: 1125px) {
        @content;
      }
    }
    
      @if $breakpoint == tablet {    
      @media only screen and (max-width: 875px) {
        @content;
      }
    }
   
    @if $breakpoint == mobile {
      @media only screen and (max-width: 700px) {
        @content;
      }}
      @if $breakpoint == S_mobile {
        @media only screen and (max-width: 590px) {
          @content;
        }
      
    }
  }

  



.Services_Pages{
    position: relative;
          background: #BAC3C7;
          min-height: 100vh;
}
.Transion_page{
    background: #474B4E;
    .FirstService_Body{
        display: none;
    }
    .FirstService_Images{
        background: #474B4E;
        display: none;

    }
    .Hajeat_Moaz{
        padding-top: 10vw;
        width: 50vw;
        transform: translateX(10vw);
        transition: .4s ease-in-out;
        
       }
       .Haje{
        transition: .4s ease-in-out;
        transform: translateX(-100vw);
       }
       .SecondService_page{

        transform: translateX(0vw);
        transition: .4s ease-in-out;
        opacity: 1;
    }
    .SecondService_Images{
        padding-top: 10vw;
        padding-left: 10vw;
    }
    
}
.None{
    display: none;
}

.Group_Logo {
    transform: translate(581.914px, -1147.587px) 
                translate(80px, 20px);
  }