
@font-face {
  font-family: Inter;
  src: url('../../Utils/Fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url('../../Utils/Fonts/Roboto-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Popping;
  src: url('../../Utils/Fonts/Poppins-Regular.ttf');
  font-display: swap;

}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: Inter;
    font-display: swap;



  }
  
*{
    padding: 0; margin: 0; 
    transition: .5s ease-in-out;


}
a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}
button,svg{
    cursor: pointer;
}
.MeetUs_BG{
    position: absolute;
}
.gradient_1{
    position: absolute;
    bottom: 0;
}
@mixin devices ($breakpoint) {
    @if $breakpoint == Laptop {
      @media only screen and (max-width: 1440px) {
        @content;
      }
    }
    
    @if $breakpoint == Minlaptop {
      @media only screen and (max-width: 1125px) {
        @content;
      }
    }
    
      @if $breakpoint == tablet {    
      @media only screen and (max-width: 875px) {
        @content;
      }
    }
   
    @if $breakpoint == mobile {
      @media only screen and (max-width: 700px) {
        @content;
      }}
      @if $breakpoint == S_mobile {
        @media only screen and (max-width: 590px) {
          @content;
        }
      
    }
    @if $breakpoint == frshan {
      @media only screen and (max-width: 400px) {
        @content;
      }
    
  }
  }

  .Yallow{
    // display: none !important;
    position: absolute;
    transform: translate(52.4vw,23.3vw);
    width: 12.5vw;
    z-index: 9999999999999;
}
@keyframes Ibra_Is_Trash {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 0;}
  85%  {opacity: 0;}
  100% {opacity: 1;}
}

@mixin Flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes Face_Animation {
    
  0%   {  scale: 1;}
  100%   {  scale: .7;}


  
}
@keyframes Arrow2 {
  0%   {opacity: 1;}
  25%  {opacity: 0.4;}
  50%  {opacity: 0.6;}
  75%  {opacity: 0.8;}
  100% {opacity: 1;}
}