.Services6_4_BG{
    transform: translateY(-125.8vw);
    transition: 2s ease-in-out;
    width: 100vw;
    height: 62.5vw;
}


.S6_5_G,.Word_Section6_4{
    scale: .7;
    transform-origin: 50%;
    transition: 2s ease-in-out;

}


/////////// strat Transtion
.S6_T4{

    .Services6_3_BG{
        transform: translateY(-188.3vw);     
     
 
     }
    .Services6_4_BG{
        transform: translateY(-188.3vw);      

     }
     .Star{
        transform: translate(805px, 1771px) ;
       
    }
    .S6_5_G,.Word_Section6_4{
        scale: 1;
       
    }
    .Drag_5_Page_Down {
        position: absolute;
        bottom: 0vw;
        height: 9vw;
        width: 100vw;
        cursor: pointer;
        // background-color: red;
      }
    
}