.Services6_6{
    transform: translateY(-188.3vw);
    transition: 2s ease-in-out;
    width: 100vw;
    height: 62.5vw;
}

/////////// strat Transtion
.S6_T5{
    position: relative;
    .Drag1_Page_Body {
        background-color: black;
      }
      .Drag_Page{
        background-color: black;
      
      }
    .Services6_6{
        transform: translateY(-250.8vw);     
     
 
     }
    .Services6_4_BG{
        transform: translateY(-250.8vw);      

     }
  .Footer{
   position: absolute;
   transition: 2s ease-in-out;
   bottom: 0; 
 
  }
   
    
}