.Drag1_Page_Body {
  background-color: #74b7c7;
}
.Drag_Page{
  background-color: #74b7c7;

}

.Drag_Page {
  width: 100vw;
  max-height: 62.5vw;
  overflow: hidden;
  position: relative;

  .Services6_1_BG {
    width: 100vw;
    height: 62.5vw;

  }
}

.Big_Arrow {
  animation: Arrow2 2s infinite;
}

.Mid_Arrow {
  animation: Arrow2 1.5s infinite;
}

.Small_Arrow {
  animation: Arrow2 1s infinite;
}

.Word_Section {
  transform: translateY(100vw);
}

.Looking {
  transform: translatex(100vw);
}

.Right_triangle {
  transform: translate(1166.604px, 489.538px) translate(120vw, 0);
}

.Drag_1_Page_Down{
  position: absolute;
  bottom: 0;
  height: 11vw;
  width: 100vw;
  cursor: pointer;
  opacity: .1;
  // background-color: red;
}

//////////////////// First Drage
.sss6_1{
  transition: 1s ease-in-out;

  
  .Drag1_OP {
    opacity: 0 !important;
    transition: 1s ease-in-out;

  }

  .Word_Section {
    transform: translateY(0);
    transition: 1s ease-in-out;


  }

  .Looking {
    transform: translatex(0);
    transition: 1s ease-in-out;


  }

  .Right_triangle {
    transform: translate(1166.604px, 489.538px) translate(0, 0);
    transition: 1s ease-in-out;

  }

  .Drag_1_Page_Down {
    display: none;
  }

  .Drag_2_Page_Down {
    position: absolute;
    bottom: 0vw;
    height: 4vw;
    width: 100vw;
    cursor: pointer;
    // background-color: red;

  }
}
